body {
    background: rgb(232, 227, 255);
    font-size: 20px;
}

h1 {
    text-align: center;
    font-size: 50px;
}

.selections {
    display: flex;
    justify-content: center;
}

.selection {
    background: none;
    outline: none;
    border: none;
    font-size: 100px;
    cursor: pointer;
    margin: 0 20px;
    opacity: 0.5;
    transition: all 0.3s;
}

.selection:hover {
    opacity: 1;
    transform: scale(1.15);
}

.scores {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    font-size: 30px;
    margin-top: 30px;
}

.score {
    font-size: 150%;
    margin-left: 5px;
    color: rgb(1, 207, 1);
}

.loss {
    color: red;
}

.icon {
    font-size: 120%;
}

.bold {
    font-weight: bold;
    font-size: 120%;
}

.github-link i {
    width: max-content;
    border-radius: 10px;
    font-size: 30px;
    transition: transform 0.5s;
    padding: 10px;
}

.github-link i:hover {
    transform: scale(1.2);
}
