html {
    height: 100%;
}

body {
    background: rgb(232, 227, 255);
    font-size: 20px;
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* Main UI */

h1 {
    text-align: center;
    font-size: 50px;
}

.selections {
    display: flex;
    justify-content: center;
}

.selection {
    background: none;
    outline: none;
    border: none;
    font-size: 100px;
    cursor: pointer;
    margin: 0 20px;
    opacity: 0.5;
    transition: all 0.3s;
}

.selection:hover {
    opacity: 1;
    transform: scale(1.15);
}

.scores {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    font-size: 30px;
    margin-top: 30px;
}

.score {
    font-size: 150%;
    margin-left: 5px;
    color: rgb(1, 207, 1);
}

.loss {
    color: red;
}

/* Modals and modal content */

.start-game-modal {
    background: darkblue;
    border: 4px solid rgb(232, 227, 255);
    border-radius: 20px;
    color: white;
    left: 50%;
    padding: 20px;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: 0.3s ease-in-out;
    width: 1200px;
    z-index: 1;
}

.rules {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rules li {
    font-size: 24px;
}

.modal-image {
    width: 300px;
    display: inline-block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    background-color: #000;
    opacity: 0.5;
}

h2 {
    text-align: center;
    color: white;
    margin-top: 0;
}

.icon {
    font-size: 150%;
}

.bold {
    font-weight: bold;
    font-size: 120%;
}

.end-game-modal {
    transform: scale(0);
}

/* Footer */

footer {
    border-top: 1px solid rgb(0, 255, 191);
    color: white;
    background: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

footer p {
    margin: 10px 0;
}

.github-link i {
    width: max-content;
    border-radius: 10px;
    font-size: 20px;
    transition: all 0.5s;
    margin-left: 10px;
    color: white;
}

.github-link i:hover {
    transform: scale(1.2);
    color: rgb(232, 227, 255);
}
