:root {
    --color-primary: rgb(232, 227, 255);
}

html {
    height: 100%;
}

body {
    background: var(--color-primary);
    font-size: 20px;
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* Main UI */

.btn-container {
    display: flex;
    justify-content: flex-end;
}

.btn--dark {
    margin: 20px;
    display: block;
    font-size: 1.2rem;
    cursor: pointer;
    color: darkblue;
    border: darkblue 0.125em solid;
    text-decoration: none;
    padding: 0.25em 1.25em;
    border-radius: 0.25em;
    background: var(--color-primary);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--color-primary);
    box-shadow: inset 0 0 0.25em 0 darkblue, 0 0 0.25em 0 darkblue;
    position: relative;
    transition: background-color 0.5s;
    width: 200px;
}

.btn--dark::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    box-shadow: 0 0 1em 0.5em darkblue;
    transition: all 0.5s;
}

.btn--dark:hover, .btn--dark:focus {
    background: darkblue;
    color: var(--color-primary);
    text-shadow: none;
}

.btn--dark:hover::before,
.btn--dark:focus::before {
    opacity: 1;
}

.btn--dark:hover::after,
.btn--dark:focus::before {
    opacity: 1;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 0;
}

.selections {
    display: flex;
    justify-content: center;
}

.selection {
    background: none;
    outline: none;
    border: none;
    font-size: 100px;
    cursor: pointer;
    margin: 0 20px;
    opacity: 0.5;
    transition: all 0.3s;
}

.selection:hover {
    opacity: 1;
    transform: scale(1.15);
}

.scores {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    font-size: 30px;
    margin-top: 30px;
}

.score {
    font-size: 150%;
    margin-left: 5px;
    color: rgb(1, 207, 1);
}

.loss {
    color: red;
}

/* Modals and modal content */

h2 {
    text-align: center;
    color: white;
    margin-top: 0;
}

.start-game-modal.open {
    background: darkblue;
    border: 4px solid var(--color-primary);
    border-radius: 20px;
    color: white;
    left: 50%;
    padding: 20px;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.3s;
    max-width: 1200px;
    z-index: 1;
}

.start-game-modal {
    transform: scale(0);
}

.rules {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.modal-image {
    width: 300px;
    display: inline-block;
}

.btn {
    margin: 40px auto 20px;
    display: block;
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--color-primary);
    border: var(--color-primary) 0.25em solid;
    text-decoration: none;
    padding: 0.25em 1.25em;
    border-radius: 0.25em;
    background: darkblue;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--color-primary);
    box-shadow: inset 0 0 0.5em 0 var(--color-primary), 0 0 0.5em 0 var(--color-primary);
    position: relative;
    transition: background-color 0.5s;
}

.btn::before {
    pointer-events: none;
    content: '';
    position: absolute;
    background: var(--color-primary);
    top: 120%;
    right: 0;
    width: 100%;
    height: 100%;
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
}

.btn::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    box-shadow: 0 0 1em 0.5em var(--color-primary);
    transition: all 0.5s;
}

.btn:hover, .btn:focus {
    background: var(--color-primary);
    color: darkblue;
    text-shadow: none;
}

.btn:hover::before,
.btn:focus::before {
    opacity: 1;
}

.btn:hover::after,
.btn:focus::before {
    opacity: 1;
}

.overlay.open {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    background-color: #000;
    opacity: 0.5;
    transition: opacity 0.3s;
}

.overlay {
    opacity: 0;
}

.icon {
    font-size: 150%;
}

.bold {
    font-weight: bold;
    font-size: 120%;
}

.end-game-modal {
    transform: scale(0);
}

/* Footer */

footer {
    border-top: 1px solid rgb(0, 255, 191);
    color: white;
    background: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

footer p {
    margin: 10px 0;
}

.github-link i {
    width: max-content;
    border-radius: 10px;
    font-size: 20px;
    transition: all 0.5s;
    margin-left: 10px;
    color: white;
}

.github-link i:hover {
    transform: scale(1.2);
    color: var(--color-primary);
}
